asgiref==3.2.7
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
Django==3.1.12
django-rest-framework==0.1.0
djangorestframework==3.11.0
html5lib==1.0.1
idna==2.9
mechanize==0.4.5
pytz==2020.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.9
webencodings==0.5.1
