<!DOCTYPE html>

<!-- the to_and template tag is used to replace white spaces with %20 in the links which conforms to fzmovies url patterns -->
{% load to_and %}

<!-- the load strip teplate tag is used to slice the texts to reveal it in the template with good readability -->
{% load strip %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Toffy</title>
</head>
<body>
    <style>
        body {
            background: #dfd1d1;
          }

          .nav-link {
            color: #555;
          }

          .nav-link:hover {
            background: #f5f5f5;
          }


    </style>
    <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="#" class="navbar-brand">
            <!-- Logo Image -->
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold">Company</span>
          </a>

          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container-fluid px-md-5">

        <!-- For demo purpose -->
        <div class="row py-5 text-white">
          <div class="col-lg-9 mx-auto text-center">
            <h1 class="display-4 text-dark display-4">FZ Movies Downloader...</h1>
            <p class="lead mb-0 text-dark ">Ad Free - one click download for Movies </p>
          </div>
        </div>
        <!-- End -->

        <div class="rounded">
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">

              <!-- Vertical Menu-->
              <nav class="nav flex-column bg-white shadow-sm font-italic rounded p-3">
                {% if searchword %}
                {% endif %}
                    <form class="form-inline" method="POST">
                        {% csrf_token %}
                        <div class="input-group mx-sm-3 mb-2">
                          {{ searchword }}
                            <button type="submit" class="btn btn-primary mb-2">Search</button>
                        </div>
                    </form>
              </nav>
              <!-- End -->

            </div>

            <div class="col-lg-8 mb-5">
              <!-- Demo Content-->
              <div class="p-5 bg-white d-flex align-items-center shadow-sm rounded h-100">
                <div class="demo-content">
                  <h2 class="text-muted text-center text-capitalize"><u>pick a movie from the list in other to generate your download link: </u> </h2>
                  {% if data %}

                    {% for link,ident in data %}

                    <div class="card effect-5">
                        <div class="card-body p-5">
                            <h2 class="h5">Title {{ link|slice:"1:2"|strip}}</h2>
                            <p><span>Year : {{ link|slice:"3:4"|strip}}</span> <span> QUALITY: {{ link|slice:"5:6"|strip}}</span></p>
                            
                            <p class="font-italic text-muted">plot: {{ link|slice:"7:8"|strip}}.</p>
                            <form action="/generate/" method="post" class="form-inline">
                                {% csrf_token %}
                                <div class="input-group mx-sm-3 mb-2">
                                <input
                                    type="hidden"
                                    class="form-group"
                                    name="movie_to_download"
                                    value="https://fzmovies.net/{{ ident|to_and }}"
                                />
                                <button class="btn btn-secondary" type="submit">Generate Download Link
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>

                    <br /><br />

                    {% endfor %}
                    {% else %} <h2> no Movie Matching Query </h2>{% endif %}

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


<script>
    document.getElementsByTagName("label")[0].style.display = "none";
</script>

</body>
</html>

